@font-face {
    font-family: "font-1";
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  }
  
  $font-1: "font-1", sans-serif;
  

  $white: rgb(243, 243, 243);
  
  @mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: $white;
    font-family: $font-1;
  }

  li {
    list-style-type: none;
  }

h1{
    font-family: $font-1;
}

.logo-app{
  width: 10vh;
}