.login-page-container {
    display: flex;
    height: 100vh;
  }
  
  .image-container {
    flex: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .login-form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  