nav {
    width: 250px;
    color: #fff;
    height: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .nav-container {
    padding: 20px;
  }
  
  div {
    margin-bottom: 10px; 
  }
  
  /* Lien de navigation */
  a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px; 
    transition: background-color 0.3s; 
  }
  
  a:hover {
    background-color: #e7e7e7;
    border-radius: 5px;
  }
  
  a.active {
    font-weight: bold; 
  }
  
  .logout {
    color: red;
    margin-top: auto; 
  }
  